[submodule "modules/libvgm"]
	path = modules/libvgm
	url = https://github.com/ValleyBell/libvgm.git
[submodule "modules/game-music-emu"]
	path = modules/game-music-emu
	url = https://github.com/libgme/game-music-emu.git
[submodule "modules/libkss"]
	path = modules/libkss
	url = https://github.com/digital-sound-antiques/libkss
[submodule "modules/lazyusf"]
	path = modules/lazyusf
	url = https://github.com/kode54/lazyusf
[submodule "modules/miniaudio"]
	path = modules/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "modules/sexypsf"]
	path = modules/sexypsf
	url = https://github.com/CoreDumpling/sexypsf
